.container {
  header{
    width: 100%;
    position: relative;
    img{
      width: 100%;
      // height: 80%;
    }
    .shadow-top{
      position: absolute;
      top: 0;
      height: 100%;
    }
    .shadow-bottom{
      position: absolute;
      bottom: 0;
    }
    .head{
       height: .30rem;
       width: 100%;
      //  position: absolute;
      //  bottom: 0;
      .swiper-wrapper{
        position: absolute;
        bottom: 0;
        height: .3rem;
        @include flexbox();
        flex-wrap: nowrap;
        overflow-x: scroll;
        .swiper-slide{
          width: .63rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          height: .3rem;
          font-size: .15rem;
          line-height: .25rem;
          color: #fff;
          cursor: pointer;
          margin: 0 .07rem;
        }
        .active{
          border-bottom:3px solid #ff712b; 
          color: #ff712b;
        }
        .all{
          width: .4rem;
          position: relative;
          margin: 0;
          img{
            left: .08rem;
            width: .3rem;
            top: -.04rem;
            position: absolute;
          }
        }
      }
    }
    
    
  }
  main {
    @include flex();
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    .item{
      font-size: 0;
      width: 100%;
      ul{
        @include flexbox();
        flex-wrap: wrap;
        background: #fff;
        position: relative;
        overflow: hidden;
        li{
          width: 33.33333%;
          padding: .10rem;
          min-height: 170px;
          border-right: 1px solid #f0f0f0;
          border-bottom: 1px solid #f0f0f0;
          @include flexbox();
          flex-direction: column;
          a{
            width: 100%;
            img{
              width: 100%;
            }
          }
          .details{
            width: 100%;
            b{
              font-size: .09rem;
              background: #ff6161;
              color: #fff;
              font-weight: bold;
              display: block;
              width: 38px;
              text-align: center;
            }
            span{
              font-size: .14rem;
              margin: 7px 0 10px 0;
              color: #21292b;
              display: block;
              line-height: .18rem;
              height: .36rem;
              @include ellipsis(null,2);
            }
            .price{
              width: 100%;
              height: 0.25rem;
              margin-bottom:0; 
              @include flexbox();
              flex-direction: row;
              align-items: center;
              position: relative;
              .price-item{
                color: #ff712b;
                font-size: .16rem;
                display: block;
                margin: 0;
                line-height: 0.36rem;
              }
              i{
                // display: block;
                color: #ff712b;
                font-size: .16rem;
                font-weight: 100;
                margin-left: -.04rem;
                line-height: 0.36rem;
              }
              .icon-add-cart{
                font-family: "add-cart-icon";
                font-size: .22rem;
                font-weight: normal;
                position: absolute;
                right: 0;
                bottom: -0.02rem;
              }
            }     
          }
        }
      }
    }
  }
}
