<header>
    <img style="height: 1.5rem;" src="https://static.dmall.com/kayak-project/wxdmall/dist/wxdmall/common/UPBundle.bundle/Dmall/Weixin/Minisite/Images/background.jpg" alt="">
    <img class="shadow-top" src="https://static.dmall.com/kayak-project/wxdmall/dist/wxdmall/common/UPBundle.bundle/Dmall/Weixin/Minisite/Images/musk_up.png" alt="">
    <img class="shadow-bottom" src="https://static.dmall.com/kayak-project/wxdmall/dist/wxdmall/common/UPBundle.bundle/Dmall/Weixin/Minisite/Images/musk_down.png" alt="">
    <div class="head" style="background: black;opacity: 0.8;">
        <ul class="swiper-wrapper">
            <li class="all swiper-slide">
                <img src="../../images/all.png" alt="">
            </li>
            <li class="swiper-slide">全部分类</li>
            <li class="swiper-slide">奶饮熟食</li>
            <li class="active swiper-slide">粮油速食</li>
            <li class="swiper-slide">休闲食品</li>
            <li class="swiper-slide">酒水饮料</li>
            <li class="swiper-slide">母婴用品</li>
            <li class="swiper-slide">清洁洗护</li>
            <li class="swiper-slide">日用百货</li>
        </ul>
    </div>
</header>