<header>
    <div class="J_toolbarCont">
        <span class="J_Link" href="javascript:void(0)" onclick="javascript:history.go(-1);">
            <i class="icon-arrow-left-white"></i>
        </span>
        <div class="warename animate"> [次日达] 福临门金典东北米 5kg </div>
        <div class="collect">
            <a class="animate J_Link J_collect" data-type="fav">
                <i class="icon-collect"></i>
            </a>
        </div>

        <div class="act">
            <a class="J_Link">
                <i class="icon-home"></i>
            </a>
        </div>
    </div>
</header>