<footer class="foot iconfont">
  <ul>
      <li class="active">
          <i class="iconfont">&#xe61f;</i>
          <span >首页</span>
      </li>
      <li>
          <i class="iconfont">&#xe609;</i>
          <span>分类</span>
      </li>
      <li>
          <i class="iconfont">&#xe619;</i>
          <span>会员</span>
      </li>
      
      <li>
          <i style="font-family: 'shop-cart';padding-top: .02rem;">&#xe65c;</i>
          <span>购物车</span>
      </li>
      <li>
          <i class="iconfont">&#xe626;</i>
          <span>我的</span>
      </li>
  </ul>
</footer>