<!-- 促销活动 sales promotion -->
<div class="sales-pro1">
    <ul>
        <li>
            <img src="https://img.dmallcdn.com/mIndex/201804/b460bc01-c613-430a-bad7-74c1931b9826_480x480H" alt="">
        </li>
        <li>
            <div class="item-box">
                <img src="https://img.dmallcdn.com/mIndex/201804/b9da5656-cda8-45c7-a0a2-b5dc17fe527d_480x480H" alt="">
                <img src="https://img.dmallcdn.com/mIndex/201712/55c79dbf-e914-4228-8554-9b5807b54503_480x480H" alt="">
            </div>
        </li>
    </ul>
</div>
