<!-- 精选会场 -->
<section class="sales-pro2-logo">
    <img src="https://img.dmallcdn.com/mIndex/201711/4573e9e8-db1b-427a-8c7b-dbf0300fa2c2_750H" alt="">
</section>
<!-- 产品 -->
<div class="item-discount">
    <ul>
        <li>
            <img src="https://img.dmallcdn.com/mIndex/201804/68c7acde-1d8e-4d3b-a724-949371680e7d_360x360H" alt="">
        </li>
        <li>
            <img src="https://img.dmallcdn.com/mIndex/201804/fabb98bb-e64d-434e-a06a-47185519d5b8_360x360H" alt="">
        </li>
        <li>
            <img src="https://img.dmallcdn.com/mIndex/201804/cd99cb6c-5822-48f4-a44e-e82111be279a_360x360H" alt="">
        </li>
        <li>
            <img src="https://img.dmallcdn.com/mIndex/201804/a50ed78c-d4e3-4edc-8e10-886130c259aa_360x360H" alt="">
        </li>
        <li>
            <img src="https://img.dmallcdn.com/mIndex/201804/cfeeba75-5b6a-4c2c-b444-62dfcb05db98_360x360H" alt="">
        </li>
        <li>
            <img src="https://img.dmallcdn.com/mIndex/201804/3b9d89dc-7eaa-4deb-b2ba-38b707b582a3_360x360H" alt="">
        </li>
    </ul>
</div>