<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="https://img.dmallcdn.com/mIndex/201806/1a1df133-dfe2-4df3-9b5b-f2cb6603fae3_750H" alt="">
        </div>
        <div class="swiper-slide">
                <img src="https://img.dmallcdn.com/mIndex/201806/1a1df133-dfe2-4df3-9b5b-f2cb6603fae3_750H" alt="">
            <!-- <img src="https://img.dmallcdn.com/mIndex/201806/3f6805fd-0c1c-444b-901e-efea9e45cd30_750H" alt=""> -->
        </div>
        <div class="swiper-slide">
                <img src="https://img.dmallcdn.com/mIndex/201806/1a1df133-dfe2-4df3-9b5b-f2cb6603fae3_750H" alt="">
            <!-- <img src="https://img.dmallcdn.com/mIndex/201806/b3117156-9905-40f3-b5d3-f85ea35b3003_750H" alt=""> -->
        </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>