<div class="survice">
    <div class="survice-header">
        <h4>我的服务</h4>
    </div>
    <ul class="survice-list">
        <li>
            <i class="icon-member"></i>
            <h4>会员中心</h4>
            <p>会员有好礼</p>
        </li>
        <li>
            <i class="icon-location"></i>
            <h4>收货地址</h4>
        </li>
        <li>
            <i class="icon-help"></i>
            <h4>帮助中心</h4>
        </li>
        <li>
            <i class="icon-service"></i>
            <h4>客服电话</h4>
        </li>
        <li>
            <i class="icon-download"></i>
            <h4>体验APP</h4>
        </li>
        <li>
            <i class="icon-innvoice"></i>
            <h4>发票中心</h4>
        </li>
        <li>
            <i class="icon-bindcard"></i>
            <h4>绑卡中心</h4>
        </li>
        <li>
            <i class="icon-freedombuy"></i>
            <h4>自由购</h4>
            <p>仅限App使用</p>
        </li>
        <li>
            <i class="icon-wantbuy"></i>
            <h4>我想买的</h4>
        </li>
    </ul>
</div>